/* 6つのp要素に適用するスタイルを宣言 */
.color-white {
    color: white;
}

.color-yellow {
    color: yellow;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.back-blue {
    background-color: blue;
}

.back-gray {
    background-color: gray;
}

.back-green {
    background-color: green;
}

.back-brown {
    background-color: brown;
}

.size-16 {
    font-size: 16px;
}

.size-12 {
    font: 12;
}
/* 6つのli要素に適用するスタイルを宣言 */
