/* h1要素に適用するスタイル */
h1 {
    font-size: 32px;
    color: white;
    background-color: midnightblue;
    text-align: center;
}

/* h3要素に適用するスタイル */
h3 {
    color: white;
    background-color: deepskyblue;
    height: 50px;
    text-align: center;
}

.part6 {
    line-height: 50px;
    align-items: center;
}

/* p要素に適用するスタイル */
p {
    color:white;
    background-color: #3775AB;
    text-align: center;
}
